{% extends "cogrob-tut.html" %}

{% block content %}
<div class="right">
  <div class="title">Franka Knowledge Base</div>
  <div class="description">Browse through the vocabulary contained in the knowledge base.</div>

  <div class="row">
    <div class="column">
    <div class="sub-title">Dictionary</div>
    <div class="asset-category">
      {% if result %}
        {% for value in result %}
          <div class="category utterance">
            <div class="asset">
              <div class="asset-logo"><i class="fa"></i></div>
            </div>
              <div class="asset-name">{{ value }}</div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h3>Sorry, there is no utterance available yet. Start by teaching a skill to the robot !</h3>
      {% endif %}
    </div>
    </div>
{% endblock %}
