{% extends "cogrob-tut.html" %}

{% block content %}

  <div class="right">
    <div class="title">Franka Knowledge Base</div>
    <div class="description">Teach new skills to the robot or just browse through the already existing ones.</div>

    <div class="row">
      <div class="column">
      <div class="sub-title">Skills</div>
      <div class="asset-category">
        {% for value in result %}
        <div class="category">
          <div class="asset">
            <div class="asset-logo"><i class="fa"></i></div>
          </div>
          <div class="asset-name">{{ value }}</div>
        </div>
        {% endfor %}
      </div>
      </div>
    </div>

    <div class="row">
      <div class="half">
        <div class="sub-title">Registered users</div>
        <div class="stock">
          <div class="stock-logo user"><i class="fa"></i></div>
          <div class="stock-info">
            <div class="stock-name">Alex</div>
            <!--<div class="stock-fullname">Apple Inc.</div>-->
          </div>
          <div class="stock-value">Admin</div>
        </div>
        <div class="stock">
          <div class="stock-logo user"><i class="fa"></i></div>
          <div class="stock-info">
            <div class="stock-name">Palash</div>
          </div>
          <div class="stock-value">MS student</div>
        </div>
      </div>
      <div class="half">
        <div class="sub-title">Objects recognized</div>
        <div class="stock">
          <div class="stock-logo object"><i class="fa"></i></div>
          <div class="stock-info">
            <div class="stock-name">Face plate</div>
          </div>
          <div class="stock-value">2</div>
        </div>
        <div class="stock">
          <div class="stock-logo object"><i class="fa"></i></div>
          <div class="stock-info">
            <div class="stock-name">Pendulum</div>
          </div>
          <div class="stock-value">1</div>
        </div>
      </div>
    </div>

{% endblock %}
