{% extends "cogrob-tut.html" %}

{% block content %}

<div class="right">
  <div class="title">Knowledge Base end point</div>
  <div class="description">Execute SPARQL queries against the knowledge base of the robot.</div>

  <div class="row column">

      <form method="POST" id="form" class="topBefore">
        <textarea id="message" name="query" type="text" placeholder="QUERY"></textarea>
        <input id="submit" type="submit" value="Query">
      </form>
  </div>

  <div class="row">
      <div class="half">
        <div class="sub-title">Query</div>
          {{query}}
        </div>

        <div class="half">
          <div class="sub-title">Result</div>
            {% if result %}
            {% for value in result %}
              <tr>
                <td> {{ value }} </td>
              </tr>
            {% endfor %}
            {% else %}
              Sorry, nothing was found
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}
