{% extends "cogrob-tut.html" %}

{% block content %}
<div class="right">
  <div class="title">{{ skill }}</div>
  <div class="description">Information about this skill.</div>

  <div class="row">
    <div class="half">
      {% for predicate, object in result %}
      <div class="stock">
        <div class="stock-info">
          <div class="stock-name">{{ predicate }}</div>
        </div>
        <div class="stock-value">{{ object }}</div>
      </div>
      {% endfor %}

      <div><a href="{{ url_for('skills.update', name=skill) }}">Update</a></div>
      <div><a href="{{ url_for('skills.delete', name=skill) }}">Delete</a></div>
    </div>
  </div>

{% endblock %}
