
.balon1, .balon2 {

	margin-top: 5px !important;
	margin-bottom: 5px !important;

	}


.balon1 a {

	background: #42a5f5;
	color: #fff !important;
	border-radius: 20px 20px 3px 20px;
	display: block;
	max-width: 75%;
	padding: 7px 13px 7px 13px;

	}

.balon1:before {

	content: attr(data-is);
	position: absolute;
	right: 15px;
	bottom: -0.8em;
	display: block;
	font-size: .750rem;
	color: rgba(84, 110, 122,1.0);

	}

.balon2 a {

	background: #f1f1f1;
	color: #000 !important;
	border-radius: 20px 20px 20px 3px;
	display: block;
	max-width: 75%;
	padding: 7px 13px 7px 13px;

	}

.balon2:before {

	content: attr(data-is);
	position: absolute;
	left: 13px;
	bottom: -0.8em;
	display: block;
	font-size: .750rem;
	color: rgba(84, 110, 122,1.0);

	}

.state{
	margin-top: 6%;
}



.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: 0 ;
  outline-offset: 0 ;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none ;
}
.tab-content{
}

.tab-active{
}
=======
>>>>>>> 835d58e898e81d569f870cd1471c7b534ca19da6
