{% extends "cogrob-tut.html" %}

{% block container %}

<div class="container-fluid">


      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url_for('knowledge_base') }}">Skills</a>
        </li>
        <li class="breadcrumb-item active">Overview</li>
      </ol>

      <div class="card h-100">
        <div class="card-body">
          {% if result %}
          <!-- Icon Cards-->
          <div class="row">

            {% for value in result %}
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-comments"></i>
                  </div>
                  <div class="mr-5">{{ value }}</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{{ url_for('read', name=value) }}">
                  <span class="float-left">View interpretations</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
            {% endfor %}

          </div>
          {% endif %}
        </div>
      </div>


    <div id="fragment-3" class="tab-content">

      <div class="card mb-3">
        <div class="card-header"><i class="fas fa-table"></i> Name</div>
        <div class="card-body">
          <input id="text" class="w-50 border rounded form-control" type="text" name="skill_name" title="Give a name to the new skill..." placeholder="Give a name to the new skill..." required>
        </div>
        <div class="card-footer small text-muted">The name is usually a verb describing the action to be performed</div>
      </div>

      <div class="card mb-3">
        <div class="card-header"><i class="fas fa-table"></i> Command</div>
        <div class="card-body">
          <input id="text" class="w-50 border rounded form-control" type="text" style="margin-bottom:10px" name="action" title="Action..." placeholder="Action..." required>
          <input id="text" class="w-50 border rounded form-control" type="text" name="target" title="Target..." placeholder="Target..." required>
        </div>
        <div class="card-footer small text-muted">An action, target pair that you would use to command the robot to perform the skill</div>
      </div>


      <div class="card mb-3">
        <div class="card-header"><i class="fas fa-table"></i> Tasks</div>
        <div class="card-body">
          <h5 class="card-title">What are the tasks involved in the skills</h5>

          <div id="accordion">
            <div class="step card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Step 1
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <ul class="list-group" style="margin-bottom:30px"></ul>
                  <button type="button" class="btn btn-outline-primary">Pick</button>
                  <button type="button" class="btn btn-outline-warning">Place</button>
                  <button type="button" class="btn btn-outline-info">Pour</button>
                </div>
              </div>
            </div>

          </div>
          <button style="margin-top:20px" class="btn btn-primary mb-2 rounded border" id="addStepButton">Add</button>
        </div>
        <div class="card-footer small text-muted">
          Divide the skill in one or several steps.
          These steps can then be used to perform the skill in an interactive fashion.
          Each step is composed of at least one task taken in our set of predefined tasks which currently includes : Pick, Place and Pour.
        </div>
      </div>

      <div class="row" style="padding:10px">

        <div class="col-3 m-0 p-1">
          <button id="create" class="btn btn-primary mb-2 rounded border w-100" title="Create" style="padding-right: 16px;">Create</button>
        </div>

        <div class="col-6 alert alert-success alert-dismissible fade" role="alert">
          Your skill has been created with success !
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

  </div>
  <script src={{ url_for('static', filename='js/kb.js') }}></script>
</div>



{% endblock %}
