{% extends "cogrob-tut.html" %}
{% set no_link_predicates = ["subClassOf", "hasValue"] %}
{% block container %}

<div class="container-fluid">

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ url_for('knowledge_base') }}">Skills</a>
    </li>
    <li class="breadcrumb-item active">{{ skill }}</li>
  </ol>


  {% if skill %}
  <!-- Area Chart Example-->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      {{ skill }}</div>
      <div class="card-body">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Predicate</th>
              <th>Object</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Predicate</th>
              <th>Object</th>
            </tr>
          </tfoot>
          <tbody>
            {% for predicate, object in result %}
            <tr>
              <td> {{predicate}} </td>
              {% if predicate in no_link_predicates %}
              <td> {{ object }} </td>
              {% else %}
              <td> <a href="{{ url_for('read', name=object) }}"> {{ object }} </a> </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>


      </div>
      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
    {% endif %}

  </div>


  {% endblock %}
