{% extends "cogrob-tut.html" %}

{% block container %}

<div class="container-fluid">

  <div class="collapse show" id="collapseExample">
    <div class="card card-body mb-3">
      <form method="POST" id="form" class="topBefore">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Rosbridge server</label>
          <input id="text" class="w-50 border rounded form-control" type="text" style="margin-bottom:10px" name="url" title="url..." placeholder="url..." required>
        </div>
        <button id="connect" class="btn btn-primary mb-2">Connect</button>
      </form>
      <div class="card-footer small text-muted">The default value for the rosbridge server is ws://localhost:9090.</div>
    </div>
  </div>

  <div class="alert  fade" role="alert"></div>

  <div class="collapse show" >
    <div class="card card-body mb-3">
      <h3>Position the arm </h3>
      <button id="move_start" class="w-20 btn btn-primary mb-2">Move to start</button>
      <button id="move_approach" class="w-20 btn btn-primary mb-2">Approach position</button>
      <form method="POST" id="test_height_form" class="topBefore">
        <div class="form-group">
          <input id="height" class="w-50 border rounded form-control" type="text" style="margin-bottom:10px" name="height" title="height..." placeholder="height..." required>
        </div>
        <button id="test_height" class="btn btn-primary mb-2">Test height</button>
      </form>
    </div>
  </div>

  <div class="collapse show" >
    <div class="card card-body mb-3">
      <h3>Set up grasp </h3>
      <form method="POST" id="grasp_form" class="topBefore">
        <div class="form-group">
          <input id="text" class="w-50 border rounded form-control" type="text" style="margin-bottom:10px" name="width" title="width..." placeholder="width..." required>
          <input id="text" class="w-50 border rounded form-control" type="text" style="margin-bottom:10px" name="force" title="force..." placeholder="force..." required>
          <input id="text" class="w-50 border rounded form-control" type="text" style="margin-bottom:10px" name="reps" title="iterations..." placeholder="iterations..." required>
        </div>
        <button id="start_grasp" class="btn btn-primary mb-2">Start routine</button>
      </form>

      <button id="opening" class="w-20 btn btn-primary mb-2">Open gripper</button>
      <button id="homing" class="w-20 btn btn-primary mb-2">Home gripper</button>
    </div>
  </div>



  <script src={{ url_for('static', filename='js/index.js') }}></script>


</div>

{% endblock %}
